* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	background: url('../img/bg.jpg');
	/*background: url("http://c1.mifile.cn/f/i/2013/cn/note/4.jpg");
	background-size: 1057px;*/
	text-align: center;
}

header {
	color: white;
}

main{
	position: absolute;
	opacity: 10.5;
	top: 2em;
	left:  calc(50% - (28em / 2));

	/*top: 7px;
	left: 365px;*/
}

.frame {
	margin: 0 auto;
	width: 28em;
	height: 55em;
	padding-top: calc(1em * 0.02);
	border-radius: 25px;
	background: #DBDCDE;
	background: -moz-linear-gradient(-45deg, rgb(219, 220, 222) 0%, rgb(236, 237, 239) 50%, rgb(237, 238, 240) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(219, 220, 222)), color-stop(50%, rgb(236, 237, 239)), color-stop(100%, rgb(237, 238, 240))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgb(219, 220, 222) 0%, rgb(236, 237, 239) 50%, rgb(237, 238, 240) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgb(219, 220, 222) 0%, rgb(236, 237, 239) 50%, rgb(237, 238, 240) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgb(219, 220, 222) 0%, rgb(236, 237, 239) 50%, rgb(237, 238, 240) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgb(219, 220, 222) 0%, rgb(236, 237, 239) 50%, rgb(237, 238, 240) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBDCDE', endColorstr='#EDEEF0',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.panel, .light{
	background: black;
	width: calc(28em * 0.96);
	height: calc(55em * 0.96);
	border-radius: 20px;
	margin: calc(28em * 0.02);
	padding-top: calc(1em * 0.7);
}

.light{
	position: absolute;
	background: -moz-linear-gradient(195deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-gradient(linear,102.7 98, 99 99, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgb(0, 0, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(195deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(195deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(195deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(-105deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

.head{
	height: 2.8em;
	margin-bottom: 0;
}

.head span{
	position: absolute;
	overflow: hidden;
}

.screen{
	width: 24em;
	height: 42.4em;
	margin: 0 0 0 1.6em;
	background: rgb(5, 5, 5);
}

.taskbar{
	color: white;
	background: rgb(6, 6, 6);
	width: 24em;
	height: 2em;
}

.taskbar span{
	position: absolute;
	margin: 0.5em;
}

span.battery{
	color: transparent;
	background: rgb(8, 189, 8);
	box-shadow: 2px 2px 0px white,-2px 2px 0px white,-2px -2px 0px white,2px -2px 0px white;
	border-radius: 3px;
	border: 0 rgb(6, 6, 6) solid;
	right: 5em;
	width: 20px;
	height: 0.7em;
	margin: 0.6em;
}

#empty{
	background: rgb(6, 6, 6);
}

#full{
	box-shadow: 0px 0px 0px white,0px 2px 0px white,0px 2px 0px white,0px -2px 0px white;
	border-radius: 0;
}

#positive{
	right: 6.9em;
	height: 0.5em;
	background: white;
	border-radius: 1px;
	width: 0.2em;
	margin-top: 0.7em;
}

.clock{
	right: 2em;
}

canvas{
	width: 24em;
	height: 41.3em;
}

.sensor{
	width: 5px;
	height: 5px;
	left: 7.4em;
	margin-top: 0.2em;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.13);
}

.camera {
	width: 10px;
	height: 10px;
	left: 9.3em;
	border-radius: 10px;
	background: -webkit-radial-gradient(35% 35%, ellipse closest-side, rgba(26, 26, 27, 0.1), rgba(44, 43, 45, 0.1) 300%);
	background: radial-gradient(35% 35%, ellipse closest-side, rgba(26,26,27,0.1), rgba(44,43,45,0.1) 300%);
	box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.05),inset 1px 1px 2px rgba(0, 0, 0, 0.2),inset -2px -2px 1px rgba(255, 255, 255, 0.07);
}

.speaker{
	width: 52px;
	height: 8px;
	left: 12em;
	line-height: 5px;
	letter-spacing: 1px;
	border-radius: 50px;
	background: -webkit-linear-gradient(top, rgba(20, 20, 21, 0.3), rgba(65, 65, 65, 0.1));
	background: linear-gradient(to bottom, rgba(20, 20, 21, 0.3), rgba(65, 65, 65, 0.1));
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3),0 -1px 0 rgba(0, 0, 0, 0.3);
}

.something{
	width: 20px;
	height: 10px;
	left: 17.4em;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.13);
}

.control{
	height: 6.6em;
	margin: 0;
}

.control span{
	position: absolute;
}

.menu{
	color: rgb(135, 21, 22);
	left: 7em;
	margin-top: 2.2em;
	letter-spacing: -0.3em;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.home{
	width: 9px;
	height: 9px;
	border-radius: 3px;
	border: 1px rgb(135, 21, 22) solid;
	left: 13.6em;
	margin-top: 2.4em;
}

.back{
	width: 6px;
	height: 6px;
	left: 21em;
	margin-top: 2.6em;
	border-left: 1px rgb(135, 21, 22) solid;
	border-bottom: 1px rgb(135, 21, 22) solid;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.screenoff{
	display: none;
}